*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:30px;
    background-color:#1DB954;
    color:rgb(228, 238, 247);
}
.nav-links a{
    color:rgb(226, 231, 236);
}
.logo{
    font-size:32px;
    
}
.menu{
    display:flex;
    gap:1em;
    font-size:18px;
}
.menu li:hover {

    
    
    border-radius: 5px;
    
    transition: 0.3s ease;
    
}
.menu li {

    padding: 5px 14px;
        
 }
 #showcase{
    background:url("s2.png") ;
    background-size:80%;
    height: 500px;
    color:white;
 }
 .content{
    padding-top:50px;
    padding-left:50px;
    color:rgba(238, 230, 230, 0.963);
 }
 .lead{
    font-size: 16px;
    padding-top:20px;
    text-align:justify;
}
.button {
    background-color:#1DB954;
    color: #131212f0;
    border:none;
    border-radius:10px;
    font-size: 25px;
    transition: 0.3s ease;
    display:flex;
  } 
  .division{
    background-size:100%;
    
    height:180px;
    background:#1DB954;
    color:white;
  }
  .button1{
    background-color:white;
    color: #130707;
    border:none;
    border-radius:10px;
    font-size: 25px;
    transition: 0.3s ease;
    display:flex;
  }
 
 